<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="contact.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/guestbook.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
<body class="container">
<ul>
  <li><a href="http://127.0.0.1:8081/portfolio.html">Home</a></li>
  <li><a href="http://127.0.0.1:8081/converter.html">Converter</a></li>
  <li><a href="http://127.0.0.1:8081/contact.html">Contact</a></li>
  <li><a href="http://127.0.0.1:8081/views/index.ejs">Guestbook</a></li>

</ul>

<h1>
Express Guestbook
<a href="http://127.0.0.1:8081/views/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</body>