body{

	background: #800000;
	color: #0000FF;
	font-family: "Times New Roman";
}

a{
	color:black;
	font-weight:700;
}
ul {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    width:100%;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 50px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
    }
    .box{
    align-items: center;
    padding-left: 0px;
    height: 20px;
    width: 200px;
     opacity: 0.3;

}